body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px !important;
  color: #2d2c2c;
}
.caution-header{
  background: rgb(109, 186, 206);
  position: relative;
  display: flex;
  justify-content: center;
  padding: 17px;
  color:white;
  line-height: 20px !important
}
.container {
  max-width: 840px;
}
.container-fluid {
  padding: 0;
}
.i-big{
  font-style: italic;
  font-size: 36px;
  padding: 10px 20px 5px 0px;
}
.site-preloader .ring {
  width: 40px;
  height: 40px;
  line-height: 50px;
  border: 5px solid #009FDA;
  border-top-color: #003F62;
}
.blog-area .item{
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  border-radius: 0
}
.btn{
  text-transform:none;
  border-radius: 6px;
  width: 100%;
}
.mobile-shap {
  border-radius: 20px;
  border: 5px solid #8DC1FA;
  padding: 15px 4px;
  width: 120px;
  background-color: #CADFFC;
  margin: 0px auto;
}
.innerflex {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-bottom: 10px;
}
.div {
  border-radius: 8px;
  background-color: #fff;
  height: 25px;
  width: 25px;
}
.item.item-desc{
  border: 0px;
  background: rgb(127, 155, 169);
  border-radius: 3px !important;
}

.blue-color{
  color:rgb(0, 158, 221) !important;
  font-weight: 500;
}

.info-color{
  color:#0060E6!important;
  font-weight: 600;
}

input{

}
.form-check-input {
  margin-top: .5rem;
  min-height: 10px;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: rgb(197, 197, 197);
  border-color: rgb(197, 197, 197);
}

.btn-info, .btn-info:hover, .btn-info:focus,.btn-info.focus{
  font-size: 15px;
  width: 100%;
  background-color: #0060E6;
  color: white;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-info{color:#fff;background-color:#0060E6;border-color:#0060E6}
.btn-info:hover{color:#fff;background-color: #0059d3;border-color:#0059d3}
.btn-info.focus,.btn-info:focus{color:#fff;background-color:#0060E6;border-color:#0060E6;box-shadow:0 0 0 .2rem rgba(0, 96, 230, 0.50)
}
.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active,.show>.btn-info.dropdown-toggle{color:#fff;background-color:#0060E6;border-color:#0060E6}
.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus,.show>.btn-info.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0, 96, 230, 0.50)}


/* ==============================================================
     # Pre loader-login
=================================================================== */

.login-ring{
  position:absolute;
  left: 25px;
  top: 30px;
  width: 50px;
  height: 50px;
  border: 4px solid #3380eb;
  border-top-color: white;
  border-radius: 50%;
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
}

.loader-back{
  position: absolute;
  width: 100px;
  height: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.loader-body{
  height: 450px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid #E0E0E0 !important;
  border-radius: 0px;
}

.mitid-loader__shield{
  fill:#0060e6;
  position: absolute;
  width: 100px;
  height: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.message{
  margin-top:160px;
}

/* ==============================================================
     #second Preloader
=================================================================== */
.second-loader {
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.second-loader .ring {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 40px;
  height: 40px;
  line-height: 50px;
  border: 5px solid #009FDA;
  border-top-color: #003F62;
  border-radius: 50%;
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
}

.second-loader-body{
  height: 300px;
  align-items: center;
  justify-content: center;
  gap: 8px;

}

.help-content{
  margin-top: 5rem;
}

@media (max-width: 576px) {
  .blog-area {
    padding: 0rem !important;
  }
  .blog-area .info {
    padding: 10px !important;
  }
  .container{
    padding:0px !important;
  }

  .logo-content{
    margin-top:3rem;
  }

  .login-content{
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0px;
  }
}