* {
    margin: 0px;
    padding: 0px;
}
:root {
    --main-color: rgb(0, 63, 99);
    --main-color-light:rgba(0, 63, 99,0.2);
    /* --main-color: rgb(127, 182, 145); */
    /* #9DD3AF */
    /* 7FB691 */
    --begin: #fffcd1;
    --white: #FFFFFF;
    --grey: #F0F2F5;
}
.bg-grey{
    background-color: var(--grey);
}
.center{
   display: flex !important;
   align-items: center !important;
   justify-content: center !important; 
}
.justify-center{
    display: flex !important;
    justify-content: center !important;
}
.space-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shadow{
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important
}

.p-0{padding: 0 !important}
.px-0{padding-right:0!important;padding-left:0!important}
.px-1{padding-right:.25rem!important;padding-left:.25rem!important}
.px-2{padding-right:.5rem!important;padding-left:.5rem!important}
.px-3{padding-right:1rem!important;padding-left:1rem!important}
.px-4{padding-right:1.5rem!important;padding-left:1.5rem!important}
.px-5{padding-right:3rem!important;padding-left:3rem!important}

.py-0{padding-top:0!important;padding-bottom:0!important}
.py-1{padding-top:.25rem!important;padding-bottom:.25rem!important}
.py-2{padding-top:.5rem!important;padding-bottom:.5rem!important}
.py-3{padding-top:1rem!important;padding-bottom:1rem!important}
.py-4{padding-top:1.5rem!important;padding-bottom:1.5rem!important}
.py-5{padding-top:3rem!important;padding-bottom:3rem!important}

.m-0{margin: 0 !important}
.mx-0{margin-right:0!important;margin-left:0!important}
.mx-1{margin-right:.25rem!important;margin-left:.25rem!important}
.mx-2{margin-right:.5rem!important;margin-left:.5rem!important}
.mx-3{margin-right:1rem!important;margin-left:1rem!important}
.mx-4{margin-right:1.5rem!important;margin-left:1.5rem!important}
.mx-5{margin-right:3rem!important;margin-left:3rem!important}
.mx-auto{margin-right:auto!important;margin-left:auto!important}
.my-0{margin-top:0!important;margin-bottom:0!important}
.my-1{margin-top:.25rem!important;margin-bottom:.25rem!important}
.my-2{margin-top:.5rem!important;margin-bottom:.5rem!important}
.my-3{margin-top:1rem!important;margin-bottom:1rem!important}
.my-4{margin-top:1.5rem!important;margin-bottom:1.5rem!important}
.my-5{margin-top:3rem!important;margin-bottom:3rem!important}


.border-grey{
    border: 1px solid #EFEFEF !important
}
.flex-center{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.flex-row-center{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}
.space-between{
    display: flex !important;
    justify-content: space-between !important;
}
.align-center{
    display: flex !important;
    align-items: center !important;
}
.flex-col-align-center{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
}


#replaTable{
    background-color: #FAFAFA;
    width:100%;
    border:none !important
}

#replaTable thead{
    background-color: #FAFAFA;
    padding:20px 0;
}
#replaTable tr , #replaTable td, #replaTable th{
    border:none !important
}
#replaTable th{
    padding: 16px 16px !important
}
#replaTable th::before{
    width: 1px;
    height: 1.6em;
    background-color: rgba(0, 0, 0, 0.06);
}
#replaTable tbody tr{
    border-bottom: 1px solid rgb(213, 216, 220) !important;
    background-color: #FFFFFF !important;
}
#replaTable th{
    align-items: flex-start;
}